<div class="user-details">
  <h1>Equipe</h1>
</div>
<div class="user">
  <div class="tech profile-container">
    <h2>Diego A. M. Camarinha</h2>
    <picture>
      <source type="image/webp" class="user-avatar" srcset="{{ "/assets/img/diego.webp" | prepend: site.baseurl }}">
      <img alt="Diego A. M. Camarinha" class="user-avatar" src="{{ "/assets/img/diego.jpg" | prepend: site.baseurl }}">
    </picture>
    <p>Programador desde 2007, possui bacharelado e mestrado em ciência da computação pelo IME - USP. Tem experiência em projetos de desenvolvimento e análise de desempenho de sistemas web.</p>
    <p><a href="https://www.linkedin.com/in/diegoamc/" target="_blank"><i class="icon fa fa-linkedin" aria-hidden="true"></i></a> <a href="https://gitlab.com/diegoamc" target="_blank"><i class="icon fa fa-gitlab" aria-hidden="true"></i></a></p>
  </div>
  <div class="tech profile-container">
    <h2>Eduardo S. Araújo</h2>
    <picture>
      <source type="image/webp" class="user-avatar" srcset="{{ "/assets/img/eduardo.webp" | prepend: site.baseurl }}">
      <img alt="Eduardo S. Araújo" class="user-avatar" src="{{ "/assets/img/eduardo.jpg" | prepend: site.baseurl }}">
    </picture>
    <p>Graduando em Física pela Universidade de São Paulo. Tem experiência em projetos web, desenvolvimento de jogos, automação de processos e contribuições em projetos de software livre.</p>
    <p><a href="https://github.com/dread-uo/" target="_blank"><i class="icon fa fa-github" aria-hidden="true"></i></a> <a href="https://gitlab.com/dread-uo" target="_blank"><i class="icon fa fa-gitlab" aria-hidden="true"></i></a></p>
  </div>
</div>
<div class="user">
  <div class="tech profile-container">
    <h2>Heitor Reis</h2>
    <div class="user-missing-avatar">
      <i class="icon fa fa-user fa-2x"></i>
    </div>
    <p>Bacharel em Ciência da Computação pelo IME - USP. Atua no desenvolvimento de aplicativos web com foco em Rails, e modelos probabilísticos para aprendizagem de máquina (Sum-Product Networks).</p>
    <p><a href="https://gitlab.com/marcheing" target="_blank"><i class="icon fa fa-gitlab" aria-hidden="true"></i></a></p>
  </div>
  <div class="tech profile-container">
    <h2>Rafael R. Manzo</h2>
    <picture>
      <source type="image/webp" class="user-avatar" srcset="{{ "/assets/img/rafael.webp" | prepend: site.baseurl }}">
      <img alt="Rafael R. Manzo" class="user-avatar" src="{{ "/assets/img/rafael.jpg" | prepend: site.baseurl }}">
    </picture>
    <p>Começou a programar em 2008 e hoje é bacharel e mestre em ciência da computação pelo IME - USP. Atua em projetos que vão desde lojas online até processamento de imagens de ressonância magnética.</p>
    <p><a href="https://www.linkedin.com/in/rafael-manzo-439665147" target="_blank"><i class="icon fa fa-linkedin" aria-hidden="true"></i></a> <a href="https://gitlab.com/rafamanzo" target="_blank"><i class="icon fa fa-gitlab" aria-hidden="true"></i></a></p>
  </div>
</div>
